// Credits : https://codesandbox.io/s/github/hadriengerard/spinning-wheel-game-react

.wheel-container {
  
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: solid transparent 20px;
    border-left-width: 0;
  }

  &::before {
    right: 5px;
    border-right-color: white;
  }

  &::after {
    right: 2px;
    border-right-color: white;
  }
}


.animate {
  animation-duration: 0.75s;
  animation-name: animate-rotate;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);

  &.rotate {
    animation-name: animate-rotate;
    animation-timing-function: ease;
  }
}

@keyframes animate-rotate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
