@import "../../scss/presets.scss";

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.5px #ffffff3b;
    outline: none;
    border-radius: 14%;
    box-shadow: 9.31px 9.31px 26px #6e96e4ad, -9.31px -9.31px 26px #98e9fff0;
    cursor: pointer;
    color: white;
    margin: 1em;
    padding: 0.8em 1em;
    background: #ffffff2e;
    backdrop-filter: blur(0.2em);

    img {
      height: 2em;
      width: 2em;
    }
  }
}

.transparentContainer {
  @include transparentContainer;
}

.content {
  @include transparentContainer_content;
}
