@import "../../scss/presets.scss";

.sidebar {
  @include sidebar;
}

.placesList {
  flex: 1;
  overflow: auto;
}

.cta {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
