@import "../../../scss/variables.scss";

.placeCard {
  display: flex;
  align-items: center;
  margin: 0.8em 0;
  cursor: pointer;

  input[type="checkbox"] {
    cursor: inherit;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid $blue400;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-right: 0.5em;

    &::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $blue400;
    }
    &:checked {
      &::before {
        transform: scale(1);
      }
    }
  }
}
