@import "./scss/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: $black;
  background-image: linear-gradient(
    to right top,
    #0f0096,
    #1c2bad,
    #2c49c3,
    #3f65d7,
    #5581e9,
    #3795f4,
    #12a8fc,
    #00baff,
    #00c5f6,
    #00cdda,
    #00d1af,
    #0dd27a
  );

  //   background-color: #4158d0;
  //   background-image: linear-gradient(
  //     43deg,
  //     #4158d0 0%,
  //     #c850c0 46%,
  //     #ffcc70 100%
  //   );
}

.mainContainer {
  flex: 1;
  display: flex;
  width: 100%;
}
