@mixin transparentContainer {
  display: flex;
  width: 70%;
  margin: auto;
  height: 80vh;
  border-radius: 1em;
  max-width: 80vw;
}

@mixin transparentContainer_content {
  border: 0.05em solid rgb(235, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  flex: 1;
  border-radius: 0 1em 1em 0;
  backdrop-filter: blur(0.2em);
  background: linear-gradient(
    111.29deg,
    rgba(255, 255, 255, 0.53) -1.83%,
    rgba(255, 255, 255, 0) 109.95%
  );
  box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
}

@mixin sidebar {
  background: rgba(255, 255, 255, 1);
  width: 15em;
  padding: 1em 2em;
  border-radius: 1em 0 0 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
} 